{
    "printWidth": 9999,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "svelteSortOrder": "options-scripts-markup-styles",
    "svelteStrictMode": false,
    "svelteBracketNewLine": false,
    "svelteIndentScriptAndStyle": true,
    "svelteAllowShorthand": true,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "singleAttributePerLine": false
}